.themeSwitcher {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 999px;
  padding: 0.1rem;
  background-color: var(--secondary-color);

  button {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    font-size: 0.8rem;
    font-weight: 500;
    transition: all 0.2s ease;

    &.active {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }

  span {
    color: var(--primary-color);
    font-size: 0.8rem;
  }
}
