.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem; 
  text-align: center;

  p { 
    color: var(--primary-color);
    font-size: 1.2rem; 
  }
}

.backToTopButton {
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.5rem; 
  display: flex;
  align-items: center;
  gap: 0.75rem; 
  margin-bottom: 2rem; 
  transition: color 0.3s ease;

  &:hover {
    svg {
      transform: translateX(-5px);
      transition: transform 0.3s ease;
    }
  }
}
