.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem; 
  text-align: center;

  p { 
    color: var(--primary-color);
    font-size: 1.2rem; 
  }
}

.backToTopButton {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.1rem; /* New base font size */
  padding: 0.5rem 1rem; /* Adjusted padding */
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem; 
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    svg {
      transform: translateX(-5px);
    }
  }
}

.thankYouText {
  color: var(--primary-color);
  font-size: 2.8rem; /* Significantly larger base font size */
  margin-bottom: 1rem; 
}

.footerSection p { 
  color: var(--primary-color);
  font-size: 1.3rem; /* Smaller base font size for copyright */
  margin-top: 1rem; 
}

@media (min-width: 1200px) {
  .backToTopButton {
    font-size: 1.3rem; /* Larger for desktop */
    padding: 0.7rem 1.2rem; /* Adjusted padding */
  }

  .thankYouText {
    font-size: 3.2rem; /* Significantly larger for desktop */
  }

  .footerSection p {
    font-size: 1.5rem; /* Smaller for desktop copyright */
  }
}