.themeSwitcher {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--primary);
  border-radius: 12px;
  padding: 6px;
  margin-top: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background);
}

.themeSwitcher button {
  flex: 1;
  padding: 8px 12px;
  border: none;
  background: none;
  color: var(--primary);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}

.themeSwitcher span {
  color: var(--primary);
  display: flex;
  align-items: center;
}

.themeSwitcher button.active {
  background-color: var(--primary);
  color: var(--background);
}
