:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #000073;
  --secondary-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-josefin-slab);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; 
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.complementary-experiences-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 4rem 2rem;
}

.section-title {
  font-size: clamp(1.6rem, 4vw, 2.6rem);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 3.5rem;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1400px;
}