.frameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 5rem 2rem;
  background: white;
  position: relative;
  overflow: hidden;
}

.frameContent {
  width: 100%;
  height: 100%; 
  z-index: 2;
  
}


.cornerSquare {
  position: absolute;
  width: clamp(50px, 12vw, 150px);
  height: clamp(50px, 12vw, 150px);
  background-color: transparent;
  z-index: 0;
}

.topLeft {
  top: 0;
  left: 0;
  transform: rotate(0deg);
}

.topRight {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.bottomLeft {
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
}

.bottomRight {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  
  .verticalLine {
    position: absolute;
    width: 5px;
    height: 70%; 
    background-color: #040477;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 999px; 
  }

  .leftLine {
    left: 25px;
  }

  .rightLine {
    right: 25px;
  }

  
  .divider {
    border: none;
    height: 5px;
    background-color: #040477;
    border-radius: 999px; 
  }

  .topDivider, .bottomDivider {
    position: absolute;
    width: 85%;
    left: 7.5%;
    z-index: 1;
  }

  .topDivider {
    top: 25px;
  }

  .bottomDivider {
    bottom: 25px;
  }
}